<template>
  <div class="courses">
    <div class="courses__container">
    <div class="courses__filter">
      <form
          class="courses__form"
          @focusout="getFilter"
          @keypress.enter="getFilter">
        <input
            class="courses__input"
            placeholder="от"
            v-model.number="from"
            type="text"
        >
        <span>-</span>
        <input
            class="courses__input"
            placeholder="до"
            v-model.number="to"
            type="text"
        >
      </form>
    </div>
    <ul class="courses__list">
      <li
          class="courses__item"
          v-for="(filter, index) in filterArr"
          :key="index"
      >
        <span>{{ index + 1 }}) {{ filter.name }}</span>
        <div
            class="courses__price"
            v-if="filter.prices[0] || filter.prices[1]"
        >
          <div class="courses__desc">
            <span>цена:</span>
            <span v-if="filter.prices[0]"> от {{ filter.prices[0] }}</span>
            <span v-if="filter.prices[1]"> до {{ filter.prices[1] }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      courses: [
        {name: "Courses in England", prices: [0, 100]},
        {name: "Courses in Germany", prices: [500, null]},
        {name: "Courses in Italy", prices: [100, 200]},
        {name: "Courses in Russia", prices: [null, 400]},
        {name: "Courses in China", prices: [50, 250]},
        {name: "Courses in USA", prices: [200, null]},
        {name: "Courses in Kazakhstan", prices: [56, 324]},
        {name: "Courses in France", prices: [null, null]},
      ],
      from: '',
      to: '',
      filterArr: [
        {name: "Courses in England", prices: [0, 100]},
        {name: "Courses in Germany", prices: [500, null]},
        {name: "Courses in Italy", prices: [100, 200]},
        {name: "Courses in Russia", prices: [null, 400]},
        {name: "Courses in China", prices: [50, 250]},
        {name: "Courses in USA", prices: [200, null]},
        {name: "Courses in Kazakhstan", prices: [56, 324]},
        {name: "Courses in France", prices: [null, null]},
      ],
    }
  },
  methods: {
    getFilter() {
      if (this.to < this.from) {
        this.to = ''
      }
      return this.filterArr = [...this.courses.filter(i => {
        if (this.from === '' && this.to === '') {
          return this.courses
        }
        if (this.from === '') {
          return (Number(this.to) >= i.prices[1] || i.prices[1] === null || (Number(this.to) <= i.prices[1])) && Number(this.to) >= i.prices[0]
        }
        if (this.to === '') {
          return Number(this.from) >= i.prices[0] && (Number(this.from) <= i.prices[1] || i.prices[1] === null)
        } else {
          return Number(this.from) >= i.prices[0] && (Number(this.to) <= i.prices[1] || i.prices[1] === null)
        }
      })]
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.courses {
  display: flex;
  justify-content: flex-start;

  &__container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__filter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__item {
    display: flex;
  }

  &__form{
    border: 2px solid #2c3e50;
    padding: 5px;
  }

  &__input {
    max-width: 50px;
    width: 100%;
  }

  &__price {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

span {
  padding: 0 7.5px;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
